@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap%27');

:root{
--cor-primaria: rgb(221, 202, 35);
--cor-secundaria: white; 


}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    list-style: none;
}

body{
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: var(--cor-primaria) solid 4px;
    padding: 3.7px;
}

h1{
    margin-top: 31px;
    margin-bottom: 8px;
    font-size: 30px;
}

ul li a{
   background-color: var(--cor-primaria);
   margin-bottom: 1rem;
   display:flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   height: 53px;
   text-transform: uppercase;
}

ul li a:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.container{
    width: 320px;
    text-align: center;
    margin:0 auto;
}

p{
    margin-bottom: 5%;


}